<!-- simulation-table.component.html -->
<div class="mb-3 d-flex align-items-center gap-3">
	<button mat-raised-button color="primary" (click)="ngOnInit(); updateTable()">Atualizar dados</button>
	<strong>Última atualização: {{(lastUpdated | date : 'dd/MM/yyyy HH:mm:ss') ?? "Não atualizado" }}</strong>
</div>
@if (dataSource && !showError){
	<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" #table>
		<ng-container matColumnDef="simulationId">
			<th mat-header-cell *matHeaderCellDef> ID</th>
			<td mat-cell *matCellDef="let element"> {{ element.simulationId }}</td>
		</ng-container>

		<ng-container matColumnDef="mutationMethod">
			<th mat-header-cell *matHeaderCellDef matTooltip="Método de mutação"> Método de mut.</th>
			<td mat-cell *matCellDef="let element"> {{ element.mutationMethod | mutationMethod }}</td>
		</ng-container>

		<ng-container matColumnDef="selecteds">
			<th mat-header-cell *matHeaderCellDef> Qtd. Pais</th>
			<td mat-cell *matCellDef="let element"> {{ element.selecteds }}</td>
		</ng-container>

		<ng-container matColumnDef="mutationRate">
			<th mat-header-cell *matHeaderCellDef> Mutação</th>
			<td mat-cell *matCellDef="let element"> {{ element.mutationRate * 100 }}%</td>
		</ng-container>

		<ng-container matColumnDef="population">
			<th mat-header-cell *matHeaderCellDef> Qtd. População </th>
			<td mat-cell *matCellDef="let element"> {{ element.population }}</td>
		</ng-container>

		<ng-container matColumnDef="avgTimeDelta">
			<th mat-header-cell *matHeaderCellDef> T. médio de viagem<br> (critério de parada)</th>
			<td mat-cell *matCellDef="let element"> {{ element.avgTimeDelta }}</td>
		</ng-container>

		<ng-container matColumnDef="maxGenerations">
			<th mat-header-cell *matHeaderCellDef> Gerações máximas<br> (critério de parada) </th>
			<td mat-cell *matCellDef="let element"> {{ element.maxGenerations }}</td>
		</ng-container>

		<ng-container matColumnDef="minGenerations">
			<th mat-header-cell *matHeaderCellDef> Gerações mínimas<br> (critério de parada)</th>
			<td mat-cell *matCellDef="let element"> {{ element.minGenerations }}</td>
		</ng-container>

		<ng-container matColumnDef="actions">
			<th mat-header-cell *matHeaderCellDef> Ação</th>
			<td mat-cell *matCellDef="let element">
				<button mat-raised-button color="primary" (click)="openGenerations(element)">Ver gerações</button>
			</td>
		</ng-container>

		<ng-container matColumnDef="createdAt">
			<th mat-header-cell *matHeaderCellDef> Criado em</th>
			<td mat-cell *matCellDef="let element"> {{ (element.createdAt + 'Z') | date: 'dd-MM-yyyy HH:mm:ss' }}</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>
} @else if (!showError) {
	<mat-progress-bar mode="query"></mat-progress-bar>
} @else {
	<strong class="text-danger">Erro ao buscar dados, atualize novamente</strong>
}
