<!-- citizen-table-modal.component.html -->
<h2 mat-dialog-title>Citizens</h2>
<mat-dialog-content>
	<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
		<ng-container matColumnDef="duration">
			<th mat-header-cell *matHeaderCellDef> Duration</th>
			<td mat-cell *matCellDef="let element"> {{ element.duration }}</td>
		</ng-container>

		<ng-container matColumnDef="trip_avg">
			<th mat-header-cell *matHeaderCellDef> Trip Avg</th>
			<td mat-cell *matCellDef="let element"> {{ element.trip_avg }}</td>
		</ng-container>

		<ng-container matColumnDef="occupation_rate">
			<th mat-header-cell *matHeaderCellDef> Occupation Rate</th>
			<td mat-cell *matCellDef="let element"> {{ element.occupation_rate }}</td>
		</ng-container>

		<ng-container matColumnDef="vehicles_total">
			<th mat-header-cell *matHeaderCellDef> Vehicles Total</th>
			<td mat-cell *matCellDef="let element"> {{ element.vehicles_total }}</td>
		</ng-container>

		<ng-container matColumnDef="average_speed">
			<th mat-header-cell *matHeaderCellDef> Average Speed</th>
			<td mat-cell *matCellDef="let element"> {{ element.average_speed }}</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>
</mat-dialog-content>

<mat-dialog-actions>
	<button mat-raised-button matDialogClose>Close</button>
</mat-dialog-actions>