<!-- citizen-table-modal.component.html -->
<h2 mat-dialog-title>Cidadãos</h2>
<mat-dialog-content>
	<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

		<ng-container matColumnDef="row">
			<th mat-header-cell *matHeaderCellDef>#</th>
			<td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }}</td>
		</ng-container>

		<ng-container matColumnDef="citizenId">
			<th mat-header-cell *matHeaderCellDef> ID</th>
			<td mat-cell *matCellDef="let element"> {{ element.citizenId }}</td>
		</ng-container>

		<ng-container matColumnDef="duration">
			<th mat-header-cell *matHeaderCellDef> T. Simulado</th>
			<td mat-cell *matCellDef="let element"> {{ element.duration }}</td>
		</ng-container>

		<ng-container matColumnDef="tripAvg">
			<th mat-header-cell *matHeaderCellDef> T. Médio de viagem</th>
			<td mat-cell *matCellDef="let element"> {{ element.tripAvg }}</td>
		</ng-container>

		<ng-container matColumnDef="occupationRate">
			<th mat-header-cell *matHeaderCellDef> Taxa de ocupação</th>
			<td mat-cell *matCellDef="let element"> {{ element.occupationRate }}</td>
		</ng-container>

		<ng-container matColumnDef="vehiclesTotal">
			<th mat-header-cell *matHeaderCellDef> Total de vei.</th>
			<td mat-cell *matCellDef="let element"> {{ element.vehiclesTotal }}</td>
		</ng-container>

		<ng-container matColumnDef="averageSpeed">
			<th mat-header-cell *matHeaderCellDef> V. Média</th>
			<td mat-cell *matCellDef="let element"> {{ element.averageSpeed }}</td>
		</ng-container>

		<ng-container matColumnDef="createdAt">
			<th mat-header-cell *matHeaderCellDef> Criado em</th>
			<td mat-cell *matCellDef="let element"> {{ (element.createdAt + 'Z') | date: 'dd-MM-yyyy HH:mm:ss' }}</td>
		</ng-container>

		<ng-container matColumnDef="openSem">
			<th mat-header-cell *matHeaderCellDef> Semáforos</th>
			<td mat-cell *matCellDef="let element"> <button mat-button (click)="openRoadCrossings(element.roadCrossings)">Ver semáforos</button></td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>
</mat-dialog-content>

<mat-dialog-actions>
	<button mat-raised-button matDialogClose>Close</button>
</mat-dialog-actions>